

.content-accounts{
  padding: 7px;
  /* background-color: #040; */
}

/* ==============================   Header Accounts ================================= */

.header-accounts{
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 70px;
  border: 2px solid #000;
  border-radius: 10px;
}

:root{
  --widget: #024;
  --btn-text: #fff;
  --widget-text: #045;
  --widget-in: #fff;
}

.content-search{
  grid-column: 1 / span 3;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--widget);
  padding-left: 20px;
  border-radius: 10px;
  border: 3px solid #000;
}

.content-search div:first-child{
  flex: 0.7;
}

.content-search input{
  height: 40px;
  background-color: var(--widget-in);
  color: var(--widget-text) !important;
  font-weight: bolder;
}

.content-search select{
  border: none;
  outline: none;
  border-radius: 4px;
  min-width: 100px;
  height: 30px;
  font-weight: bolder;
  color: var(--widget-text);
  text-align: center;
  background-color: var(--widget-in);
}

.content-search div:nth-child(2){
  flex: 0.3;
  text-align: center;
}


.content-create{
  grid-column: 4;
}

.content-create div{
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-create button{
  min-width: 135px;
  border: none;
  padding: 7px 0px 7px 0px;
  border-radius: 5px;
  background-color: var(--widget);
  color: var(--btn-text);
  transition: box-shadow 0.2s;
  font-weight: bolder;
}

.content-create button:hover{
  cursor: pointer;
  box-shadow: 0px 0px 7px 0.1px #000;
}

/* ================================= View Accounts  ======================================= */

.view-accounts{
  position: relative;
  border: 2px solid #000;
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  height: 75vh;
}

.view-accounts div{
  background-color: var(--widget);
  color: var(--widget-in);
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 0px 7px 2px #000;
  border: 3px solid #000;
}

.content-list-accounts{
  grid-row: 1 / span 5;
  grid-column: 1 / span 3;
  overflow: auto;
  padding: 10px;
}

.accounts-list{
  margin-top: 10px;
  padding-top: 10px;
  width: 100%;
  background-color: var(--widget);
  border-radius: 14px;
  text-align: center;
  color: #fff;
  overflow: auto;
}

.button-update,
.button-delete {
  border: none;
  color: #fff;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  transition: 0.2s;
}

.button-update {
  background-color: #012;
}

.button-update:hover {
  cursor: pointer;
  box-shadow: 0px 0px 7px 3px #fff;
  background-color: #034;
}

.button-delete {
  background-color: #300;
}

.button-delete:hover {
  cursor: pointer;
  box-shadow: 0px 0px 7px 3px #fff;
  background-color: #500;
}

td {
  padding: 20px;
}

.content-type-account{
  grid-row: 1 / span 2;
  grid-column: 4 / span 5;
}

.content-inf-account{
  grid-row: 3 / span 3;
  grid-column: 4 / span 5;
}

@media (max-width: 770px) {
  .view-accounts {
    grid-template-rows: 220px 1fr;
    grid-template-columns: repeat(4, 1fr);
  }

  .content-list-accounts {
    grid-row: 1;
    grid-column: 1 / span 4;
  }

  .content-type-account {
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  .content-inf-account {
    grid-row: 2;
    grid-column: 3 / span 2;
  }
}

@media (max-width: 600px) {

  .view-accounts{
    overflow: auto;
    height: 65vh;
    grid-template-rows: 300px 170px 170px;
    grid-template-columns: 100%;
  }
  .content-list-accounts{
    grid-row: 1;
    grid-column: 1;
  }

  .content-type-account{
    grid-row: 2;
    grid-column: 1;
  }

  .content-inf-account{
    grid-row: 3;
    grid-column: 1;
  }

  .header-accounts{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 70px);
  }

  .content-search{
    grid-row: 1;
    grid-column: 1;
  }
  .content-create{
    grid-row: 2;
    grid-column: 1;
  }
}

@media (max-width: 478px){
  .view-accounts{
    height: 60vh;
  }
  .content-search{
    padding-left: 0px;
  }
  .header-accounts{
    grid-template-rows: 100px 70px;
  }
  .content-search div{
    min-width: 200px;
  }
}
