
button{
  min-width: 135px;
  border: none;
  display: block;
  padding: 7px 0px 7px 0px;
  border-radius: 5px;
  transition: box-shadow 0.2s;
  font-weight: bolder;
}

.btn-icon{
  min-width: 40px;
  height: 30px;
  margin: auto;
}

.custom-btn{
  background-color: var(--widget);
  color: var(--btn-text);
}

.create-btn{
  background-color: #016;
  color: var(--btn-text);
}
.accept-btn {
  background-color: #282;
  color: var(--btn-text);
}
.cancel-btn{
  background-color: #920;
  color: var(--btn-text);
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 7px 0.1px #000;
}

.button-update,
.button-delete {
  border: none;
  color: #fff;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  transition: 0.2s;
}

.button-update {
  background-color: #012;
}

.button-update:hover {
  cursor: pointer;
  box-shadow: 0px 0px 7px 3px #fff;
  background-color: #034;
}

.button-delete {
  background-color: #300;
}

.button-delete:hover {
  cursor: pointer;
  box-shadow: 0px 0px 7px 3px #fff;
  background-color: #500;
}

.content-btn-modal{
  display: flex;
}

.content-btn-modal.center{
  flex-wrap: wrap;
  justify-content: space-around;
}

.content-btn-modal.end{
  justify-content: end;
}

.content-btn-modal.end button{
  margin-right: 10px;
}
@media (max-width: 435px){
  .content-btn-modal.end {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .content-btn-modal.end button{
    margin-right: 0px;
    margin-top: 10px;
  }
}