/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #002240;
  --fondo: #fff;
  --nav-item: #002244;
  --gray: #f0f0f0;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  border-radius: 50px;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--fondo);
}

.navigation ul li:nth-child(2) {
  margin-bottom: 40px;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--nav-item);
  font-weight: bolder;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--fondo);
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--fondo);
  pointer-events: none;
}
.li-toggle-nav{
  display: none;
  color: var(--fondo);
  align-items: center;
  justify-content: center;
  font-size: 40px;
  height: 50px;
}
.li-toggle-nav:hover{
  color: var(--nav-item);
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background-color: var(--fondo);
  transition: 0.5s;
}

.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.toggle {
  position: fixed;
  width: 60px;
  height: 60px;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 300;
  top: right;
  color: var(--nav-item);
  bottom: left;
}

/* ================== Order Details List ============== */
.details {
  position: relative;
  width: 100%;
  padding: 15px 0px 0px 0px;
  display: grid;
  /* background-color: #400; */
  grid-gap: 30px;
  /* margin-top: 10px; */
  z-index: 100;
}

/* ====================== Responsive Design ========================== */

@media (max-width: 700px){
  .main {
    width: calc(100% - 80px);
    left: 80px;
  }

  .main.active {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 480px) {

  .toggle{
    margin-left: 10px;
  }
  .navigation{
    width: 100%;
    z-index: 1000;
  }

  .navigation.res{
    width: 0px;
  }

  .main.active{
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
  .navigation ul li:nth-child(1) {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .navigation ul li:nth-child(2) {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .li-toggle-nav{
    display: flex;
  }

  .navigation ul li{
    /* width: 200px; */
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-radius: 15px;
  }

  .navigation ul li:hover a::before,
  .navigation ul li.hovered a::before,
  .navigation ul li:hover a::after,
  .navigation ul li.hovered a::after {
    display: none;
  }
}