
.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #2196F3;
  cursor: pointer;
  outline: none;
}

.custom-checkbox:checked {
  background-color: #2196F3;
}

.custom-input{
  height: 40px;
  background-color: var(--widget-in);
  color: var(--widget-text) !important;
  font-weight: bolder;
}